<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        body {
            background: url("images/back.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        html,body
        {
            height:100%;
            width:100%;
        }


        .container { background-color:white;


        }
        .shadow {
                box-shadow: 10px 10px 5px #888888;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TradeUp</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="/home">Home</a></li>
                <li ><a href="about.html">About</a></li>
                <li ><a href="contact.html">Contact</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hey there!
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">My profile</a></li>
                        <li><a href="/upload">Upload</a></li>
                        <li class="active"><a href="/products">My products</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container shadow">
    <img src="images/myproducts.png" class="img-responsive" style="margin:0px">
    <br>
    <br>
    <br>


    <br>


    <% for(var i=0 ; i<pname.length ; i++) {%>

    <div class="panel panel-default">
        <div class="row" style="padding: 10px;">

            <div class="col-sm-4"  style="padding:10px;" align="center"><img src="<%= pimg[i] %>" alt="productimage" style="max-height: 100px;" class="img img-thumnail img-responsive">
            </div>


            <div class="col-sm-8" <p>
                    <strong>Product Name        : </strong> <%= pname[i] %> <br>
                    <strong>Product Condition   : </strong><%= pcond[i] %>
                    <br> <strong>Product Description : </strong><p> <%= pdsc[i] %> </p>   <br> <br>


                <form method="post" action="/delete" >
                    <input type="hidden" name="idd" value="<%= id[i] %>">
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>


    </div>

    <% } %>



    <!--div style="padding:10px">

        <div class="row">
            <div class="col-sm-4"  style="padding:10px;border:1px solid grey;"><img src="#" alt="productimage" class="img img-thumnail img-responsive">
            </div>

            <div class="col-sm-8" style="padding:15px;border:1px solid grey;"><p>
                <strong>Product Name        :</strong> <br>
                <strong>Product Condition   : </strong><br>
                <strong>Product Category    : </strong>
                <br> <strong>Product Description : <p> </p>   <br> <br>


                    <strong style="color: royalblue";>Contact Email :</strong></p>
            </div>
        </div>
    </div-->

<br>
<br>
<br>
<br>
<br>
<br>

</div>



</body>
</html>